<link rel="stylesheet" type="text/css" href="../../wwwroot/css/site.css">

@model List<PassengerManager.Models.Passenger>
<h2>Passenger Manager</h2>

<h3>Editing Functions</h3>

<div class="form-group">
  <h4>Add Passenger</h4>
  <form asp-controller="Home" asp-action="Create">
    <label>First Name</label> <input class="form-control" name="FirstName" />
    <label>Last Name</label> <input class="form-control" name="LastName" />
    <label>Phone Name</label> <input class="form-control" name="PhoneNumber" />
    <input class="btn" type="submit" value="Add Passenger" />
  </form>
</div>

<div class="passenger-list">
  <h3>Passengers:</h3>
  <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th> 
      <th>Phone Number</th>
    </tr>
    @foreach(var item in Model)
    {
      <tr>
        <th>@item.getFirstName()</th>
        <th>@item.getLastName()</th> 
        <th>@item.getPhoneNumber()</th>
      </tr>
    }
  </table>
</div>